@if (taskObjectLists == null)
{
    <p><em>Loading...</em></p>

    <img src="https://www.icegif.com/wp-content/uploads/loading-icegif.gif" height="150" />
}
else if (taskObjectLists.ListTskObjs == null)
{
    <p><em>Loading...</em></p>

    <img src="https://www.icegif.com/wp-content/uploads/loading-icegif.gif" height="150" />
}
else if (taskObjectLists.ListTskObjs.Count == 0)
{
    @*<img src="/resources/empty.gif" height="150" />*@
    <img src="https://cdn.dribbble.com/users/707433/screenshots/6654057/comp_4.gif" height="150" />
}
else
{
    <table class="table table-bordered   table-sm">
        <thead>
            <tr class="bg-success">
                <th scope="col">Name</th>
                <th scope="col">Date</th>
                <th scope="col">Interval</th>
                <th scope="col">pathBackup</th>
                <th scope="col">nameFolderId</th>
                <th scope="col">keepBackupTime</th>
                <th>Удалить</th>

            </tr>
        </thead>
        <tbody>
            @*Collection was modified; enumeration operation may not execute >>>  Решение: добавить ToList() >>> taskObjectLists.ListTskObjs.ToList()*@
            @foreach (TaskObjectModel o in taskObjectLists.ListTskObjs.ToList())
            {
                <tr>

                    <td>@o.Name</td>
                    <td>@o.DateCreated</td>
                    <td>@(o.Interval / 1000 /60) Minutes</td>
                    <td>@o.pathBackup</td>
                    <td>@o.nameFolderId</td>
                    <td>@o.keepBackupTime</td>
                    <td>
                        <button class="btn btn-danger btn-sm" @onclick="() => DeleteJobCallback.InvokeAsync(o)"><span class="oi oi-delete" aria-hidden="false"></span></button>
                    </td>
                </tr>
            }

        </tbody>
    </table>
}

@code {
    [Parameter]
    public TaskObjectLists taskObjectLists { get; set; }
    [Parameter]
    public EventCallback<TaskObjectModel> DeleteJobCallback { get; set; }


}
